.HeaderTitle__Container{
   
}

.TitleH1{
    font-family:'Dogica', sans-serif;
    color: white;
    font-size: clamp(15px, 5vmin ,70px);
    text-transform: uppercase;
    line-height: 1.5;
}



.HeaderListe__Container{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 5vmin;
    line-height: 1.5;
}

.HeaderListe__Content{
    font-family: 'Dogica';
    font-size: clamp(1vmin, 1.5vmin, 2vmin);
}

.Header{
    padding: clamp(10px, 5vmin, 70px);
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10vmin;
}


.HeaderListe__Content a:hover{
    color: #13FF1A;
}

.HeaderListe__Content a{
    color: white;
    text-decoration: none;
}

@media(max-width: 768px){
    .Header{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .HeaderTitle__Container{
    
    }
    
    
}

