.HeaderSecondTitle__Container{
   display: flex;
   align-items: end;
   line-height: 1.5;
}

.TitleH2{
    font-family:'Dogica', sans-serif;
    font-size: clamp(15px, 5vmin ,70px);
    text-transform: uppercase;
    line-height: 1.5;
}



.HeaderSecondListe__Container{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 3vmin;
    line-height: 1.5;
    padding: 0; 
    margin: 0; 
    overflow-x: auto;
}


.HeaderSecondListe__Content{
    font-family: 'Dogica';
    font-size: clamp(1vmin, 1.5vmin, 2vmin);
    
}

.HeaderSecond{
    padding: clamp(10px, 5vmin, 70px);
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10vmin;
}



.HeaderSecondListe__Content a:hover{
    color: #13FF1A;
}

.HeaderSecondListe__Content a{
    text-decoration: none;
    color: #212121;
    white-space: nowrap;
}


@media(max-width: 1400px){
    .HeaderSecondTitle__Container{
        display: flex;
        flex-direction: column;
        align-items: start;
        line-height: 1.5;
     }
    
}

@media(max-width: 768px){
    .HeaderSecond{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .HeaderSecondTitle__Container{
        justify-content: center;
        gap: 2vmin
     }
     .HeaderSecondListe__Content{
        font-size: clamp(2vmin, 1.5vmin, 2vmin);
        
    }
}

