.Project__Container{
    position: relative;
    width: 100%;
    background:linear-gradient(#C3DEFC, #90C5FF);
    min-height: 100vh;
    padding-bottom: 50px;
    overflow: hidden;
}
.Project__Card{
    padding-top: 200px;
    width: 100%;
    
}
.LigneVerte{
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #57b95c;
}

.LigneVerte.Une{
    top: 20%;
}

.LigneVerte.Deux{
    top: 80%;
}

.LigneVerteHaute{
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #57b95c;
}

.LigneVerteHaute.Une{
    top: 80%;
    right: 80%;
}

.LigneVerteHaute.Deux{
    top: 0%;
    right: 10%;
}


.Card__Container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  
}

.Project__Sable1{
    position: absolute;
    right: -5%;
    bottom: -250px;
    width: 110%;
    height: 500px;
    border-radius: 100%;
    background: radial-gradient(#FFFCB0, #f5f18f);
    z-index: 0;
}



@media (max-width: 1150px){
    .Project__Card{
        padding-top: 50px
        
    }
}