.StarImage{
    width:100%
}

.StarFull{
    width:100%
}

.StarImage48{
    width:100%;
    opacity: 1;
}

@media(max-width: 1920px){
    .StarImage, .StarFull, .StarImage48{
        width:70%
    }
}

@media(max-width: 1440px){
    .StarImage,.StarFull, .StarImage48{
        width:50%
    }
}

@media(max-width: 768px){
    .StarImage,.StarFull,.StarImage48{
        width:30%
    }
}

